div(class="container")
  head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Connected devices
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
  body
    center
      h1 Devices connected
    div(class="container")
      div(class="row-fluid")
        div(class="col")
          each connecion in connections
            div(class="device")
              div(class="alias")
                p= connecion["alias"]
              div(class="mac")
                p= connecion["MAC"]
              div(class="timestamp")
                p= connecion["timestamp"]
