* {
  box-sizing: border-box;
}
.page {
    margin-top: 60px;
}
.devices {
  /*background-color: #ccc;*/
  width: 75%;
  left: 0;
  right: 0;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.device {
  width: 150px;
  height: 70px;
  float: left;
  border: 1px solid #000;
  margin: 5px;
  padding-left: 5px;
}
.device.connected {
  background-color: #69ff8a;
}
.device.disconnected {
  background-color: #f64e4e;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.alias{
  font-size: 14px;
  /*position: relative;
  top: 18px;
  margin-left: 20px;*/
  margin: auto;
}
.ip{
  font-size: 9px;
  font-style: italic;
  position: relative;
  top: -15px;
}
.mac{
  font-size: 9px;
  font-style: italic;
  margin-right: 5px;
  top: -10px;
  position: relative;
  float: right;
}
.timestamp{
  font-size: 9px;
  font-style: italic;
  margin-right: 5px;
  top: -25px;
  position: relative;
  float: right;
}
.todo-del:checked + span{
  color: red;
}
.tasklist{
  list-style: none;
}
.popup {
  /*width: 300px;*/
  background-color: rgb(65, 194, 228);
  /*font-size: 11px;*/
  height: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.log_area{
  width: 100%;
  height: 200px;
  margin-right: 10px;
  overflow: auto;
  background-color: white;
  font-size: 11px;
  font-family: monospace;
}
